li{
	margin-bottom: 30px;
	box-shadow: 5px 5px 5px 5px #888888;
	padding: 10px;
}

.course-operations{
	display: inline-block;
	float: right;
	height: 100%;
}

.course-operations button{
	width: 100%;
}

.course-duration{
	margin-left: 20px;
}

.course-date{
	float: right;
	margin-right: 10px;
}

.course-title{
	display: inline-block;
}
