@import "../../../styles/variables/colors.scss";

footer {
	background-color: $c-primary;
	color: $white;
	text-align: center;
	height: 50px;
	width: 100vw;
	display: table-cell;
	vertical-align: middle;
}

footer span {
	display: inline-block;
}